@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<br />
<h4>Description page.</h4>

<p>This area provides additional information.</p>
<br />
<h4>
    People Say This Place Is Known For
</h4>
<p>Customizable Food, Fresh Food, Worth the Money, Great Portions, Extensive Menu, Good Quality</p>
<h4>
    Average Cost
</h4>
<p>
    ₹700 for two people (approx.)
    Exclusive of applicable taxes and charges, if any.
</p>
<h4>
    Our Sponsors
</h4>
<p>
    FreshFood.pvt.ltd & BigJoe.pvt.ltd 
</p>
<h4>
    More Info
</h4>
<p><i class="bi bi-check2-square"></i> Home Delivery</p>
<p><i class="bi bi-check2-square"></i> Takeaway Available</p>
<p><i class="bi bi-file-excel"></i> Seating Available</p>