@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br />
<h4>Contact page.</h4>

<address>
    Joesss Pizza
    One Microsoft Way<br />
    Mumbai, India 400069<br />
    <abbr title="Phone">P:</abbr>
    022-28959999<br />
    <abbr title="Mobile">M:</abbr>
    9889552311
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


