@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page - ASP.NET Core";
}

@*<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="https://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20ASP.net%20website%20on%20%40Azure%20using%20%40GitHub&hashtags=GitHubWorkflow">
                <img src="~/images/tweetThis.svg" />
            </a>            
        </div>
        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1"> GitHub Workflow has been successfully setup</div>
            <div class="description line-2"> Your ASP.NET MVC app is up and running on Azure</div>
        </div>
    </div>
</div>*@


<br />
<table>
     <tbody>
         <tr>
             <td width="50%">
                <p class="font-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ve, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ate esse cillum dolore eu fugiat nulla pariatur. Nam libero tempore, cum teh soluta nobis est eligendi optio cumque nihil impedit quo minus. Jhaw de Excepteur sint occaecat the cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </td>
            <td width="50%">
                <div class="text-center">
                    <a class="btn btn-warning" style="width:100px;height:50px; font-size:20px" asp-area="" asp-page="/Pizza"><i class="bi bi-box-arrow-in-right"></i>&nbsp;Login</a>
                    <a class="btn btn-danger" style="width:100px;height:50px; font-size:20px" asp-area="" asp-page="/Pizza">Register</a>
                </div>
            </td>
         </tr>
         <tr>
             
             <td width="50%">
                <center>
                <img src="~/images/first.png"/>
                <h3 class="text-danger font-monospac">India's #1 Pizza Ordering Website.</h3>
                </center>
             </td>
            <td width="50%">
                <p class="font-monospace">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et volup.</p>
             </td>
         </tr>
        <tr>
            <td width="50%">
                <p class="font-monospace">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores. </p>
            </td>
            <td width="50%">
                <div class="text-center">
                    <img src="~/images/top.png" />
                    <h3 class="text-danger font-monospac">Top 100 Best Pizza Companies </h3>
                </div>
            </td>
        </tr>
     </tbody>
</table>

<br /><br />
<div class="col-md-4 font-monospace text-light center">
    <center>
    <h1>Best Offers</h1>
    </center>
</div>
<div class="row font-monospace">
    <div class="col-md-4 text-info">
          <img src="~/images/BigPizza.svg" width="80%" height="80%"/>
        <h2>Buy 1 Get 1</h2>
        <p>
            Applicable on all the medium and Large Pizza, Min. Value Rs.599/- only.
        </p>
    </div>
    <div class="col-md-4 text-info">
          <img src="~/images/BigPizza.svg" width="80%" height="80%" />
          <h2>Todays Special only at 299</h2>
        <p>
            Farmhouse Cheeseburst , Deadly Chilly , Chicken Tikka Masala, Mac & Cheese.
        </p>
    </div>
    <div class="col-md-4 text-info">
          <img src="~/images/BigPizza.svg" width="80%" height="80%" />
        <h2>Unlimited Offer at 999</h2>
        <p>
            Eat as much as you only at Rs.999/- , applicable on all the medium size, one customer per value. 
        </p>
    </div>
</div>
<br />
<br />
<br />

<div class="row font-monospace">
    <div class="col-md-4 text-danger">
        <img src="~/images/deal.png" />
        <h2>Seal the Deal</h2>
        <p>
            Get Maha Pizza at just Rs.999/- only and discounted offers available now.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-danger">
        <img src="~/images/pizza.png" />
        <h2>Top 100 Pizza</h2>
        <p>
            Now Joesss Pizza Comes in thr Unicorn League, being in the top 100 Pizza Shops.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-danger">
        <img src="~/images/delivery.png" />
        <h2>Fast Delivery</h2>
        <p>
            We Promise to deliver the pizza within 30-40 minutes of the Order.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
<br />

